.carouselContainer {
    padding: 5rem;
}

.imageContainer {
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    height: 30rem;
    max-height: 50rem;
    object-fit: cover;
}

.carouselCaption {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.carouselCaption h3, .carouselCaption p {
    color: white;
}

@media (max-width: 1024px) {
    .image {
        height: 20rem;
    }
}