.pageTitle {
    text-shadow: 2px 2px 4px rgba(211, 211, 211, 0.6);
    border: 2px solid #333;
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.pageTitle h1, .pageTitle p {
    color: #333;
}

.pageTitle h1 {
    font-size: 4rem;
}

.pageTitle p {
    font-size: 1.3rem;
}